.icon{
	background-repeat: no-repeat;
	display: inline-block;
}

.path(@name){
    @base-path: "../images/";
    background-image: url("@{base-path}@{name}");
}

.icon_search{
	.path("search-icon.png");
}

.icon_1C{
	.path("1C.png");
}

.icon_accountant{
	.path("accountant.png");
}

.icon_equipment{
	.path("equipment.png");
}

.icon_software{
	.path("software.png");
}

.icon_service{
	.path("service.png");
}

.icon_stock{
	.path("stock.png");
    &:after{
        content: "Акция";
        position: absolute;
        font-style: normal;
        line-height: 1;
        color: #222;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}

.icon_hit{
	.path("hit.png");
    &:after{
        content: "Лидер Продаж";
        font-style: normal;
        position: absolute;
        color: white;
        width: 45px;
        line-height: 1.5;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}

.icon_page-back{
	.path("page-back.png");
}

.icon_page-forward{
	.path("page-forward.png");
}
