.contacts__number{
    display: inline-block;
    width: 230px;
	text-align: right;
    margin-bottom: 7px;
}

.contacts__label{
	color: #002a72;
	font-size: 20px;
}

.contacts__link{
    text-decoration: none;
}

.number_long{
	margin-right: 3px;
}

.number_short{
	color: #fb9f18;
	font-size: 40px;
	font-weight: 700;
}
