.menu__item{
	display: inline-block;
    margin-right: 20px;
    &:last-child{
        margin-right: 0px;
    }
}

.menu__production{
	line-height: 2;
}

.menu__production ul{
    margin-top: 6px;
    line-height: 2.5;
	padding-left: 30px;
}
