.products{
    padding-left: 8px;
}

.product{
	width: 198px;
}

.product__preview{
	position: relative;
	cursor: pointer;
	text-align: center;
}

.product__img{
	padding-bottom: 10px;
}

.product__icon{
	width: 80px;
	height: 80px;
	position: absolute;
	bottom: 0;
	right: 5px;
}
.product__icon-stock{
	position: absolute;
    bottom: 33px;
    right: 28px;
}

.product__icon-hit{
	position: absolute;
	width: 45px;
    bottom: 27px;
    right: 22px;
	color: white;
}

.product__link{
	color: #003280;
	text-decoration: underline;
    &:hover{
        color: #cd0000;
    }
    p{
        line-height: 1.5;
    }
}

.product__inner{
	margin-top: 20px;
}

.product__price{
	margin-top: 8px;
	float: left;
	color: #fb9f18;
	font-weight: 700;
	font-size: 18px;
}

.product__add{
    text-indent: -9999px;
	float: right;
}

.product__add-icon{
	width:33px;
	height:26px;
}
